---
import BaseLayout from '../layouts/BaseLayout.astro';
import KnowledgeGraph from '../components/KnowledgeGraph';
---

<BaseLayout title="知识图谱 - 思维花园">
  <div class="w-full h-[calc(100vh-4rem)] pt-16">
    <KnowledgeGraph client:only="react" />
  </div>
</BaseLayout>